
<div class="container">
  <div id="index-container" class="index ng-cloak text-center col-md-6 col-md-offset-3">
    <h1>Another Regex Game</h1><a href="#/play/1">
      <button id="btn-start" class="btn btn-success btn-lg">Start</button></a>
    <ul class="level-list list-group"><a href="#/play/{{$index}}" ng-repeat="level in allLevels" ng-show="$index&gt;0">
        <li class="level-link list-group-item">{{$index}} - {{level.labels.title}}</li></a></ul>
    <!--a.twitter-timeline(href="https://twitter.com/hashtag/regexgame", data-widget-id="728218971363749888", data-chrome="nofooter")--><a href="http://github.com/joaoricardo000/another-regex-game" target="_blank" title="Fork me on GitHub" class="github-fork-ribbon left-bottom fixed">Fork me on GitHub</a>
  </div>
</div>