.container.nomorelevels.col-md-6.col-md-offset-3
    h1.text-center Another Regex Game
    i.fa.fa-trophy.end-trophy

    h2.text-center Congratulations!
    h3.text-center You won a trophy!

a.github-fork-ribbon.left-bottom.fixed(href="http://github.com/joaoricardo000/another-regex-game", target="_blank",title="Fork me on GitHub") Fork me on GitHub